<h1>New Order</h1>

<%= form_for(@order) do |f| %>

<%=f.label 'Customer ID' %>
<%=f.text_field :customer_id %>

<%= f.label :price %>
<%= f.text_field :price %>

<%= f.submit "Place Order", class: "btn btn-large btn-primary" %>
<% end %>
